/* css variables */
:root {
  --fontHead: 'Playfair Display', serif;
  --fontContent: 'Didact Gothic', sans-serif;
  --darkBlue: #012066;
  --borderBlue: #74A1C760;
  --slideOffset: -276;
  --slideMove: -410;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: var(--darkBlue);
  color: #FFF;
  font-family: var(--fontContent);
  font-size: 20px;
}
header, footer {
  height: 450px;
  margin: 57px 0 100px;
  border-bottom: 3px solid var(--borderBlue);
  border-top: 3px solid var(--borderBlue);
  border-radius: 16px 16px 0 0;
  background-image: url("../i/COGS_clean.png");
  background-size: cover;
}
nav {
  font-family: var(--fontContent);
  font-size: 24px;
  padding: 12px;
  /* border-bottom: 2px solid var(--borderBlue); */
  background-color: var(--darkBlue);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
}
.activeNav {
  text-decoration: underline;
}
.hambMenu {
  display: none;
}
a {
  color: #FFF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-family: var(--fontHead);
  font-size: 80px;
  text-align: right;
  text-shadow: #74A1C7 2px 2px 3px;
  position: relative;
  right: 20vw;
  top: 175px;
}
h2 {
  font-family: var(--fontHead);
  font-size: 32px;
}
.headName, .linkBox {
  display: inline-block;
}
.headName {
  margin-right: 40px;
}
.linkBox a {
  margin: 0 20px;
}
.linkBox a:last-child {
  margin-right: 0;
}
.splash {
  width: 100%;
  height: 0;
  position: absolute;
}
.splash1, .splash2, .splash3 {
  font-size: 45px;
  text-shadow: #74A1C7 3px 3px 7px;
  display: block;
  position: relative;
  opacity: 0;
  transition: 1.5s opacity;
}
.splash1 {
  top: -120px;
  right: 600px;
}
.splash2 {
  top: -20px;
  right: 350px;
}
.splash3 {
  top: -320px;
  right: 400px;
}
.fadeIn {
  opacity: 1;
  transition: 1.5s opacity;
}
blockquote.fadeIn {
  opacity: 1;
  transition: 3s opacity;
}
section {
  margin: 0 60px 80px;
  border: 3px solid var(--borderBlue);
  border-radius: 16px 16px 0 0;
  background-image: url("../i/COGS_clean.png");
  background-size: cover;
}
section.testimony {
  width: 48%;
  min-width: 300px;
  /* min-height: 300px; */
  margin-left: auto;
  margin-right: auto;
}
.projects {
  width: fit-content;
  padding: 0 60px;
  margin: 0 auto 80px;
}
.projects h2, .testimony h2, .contactBlock h2 {
  padding-top: 12px;
  text-align: center;
}
.carousel {
  width: 700px;
  height: 500px;
  margin: 24px auto 12px;
  border: 3px solid var(--borderBlue);
  border-radius: 16px 16px 0 0;
  position: relative;
  overflow: hidden;
}
.viewer {
  width: 700px;
  height: 500px;
  border-left: 100px solid #eeeeee60;
  border-right: 100px solid #eeeeee60;
  border-radius: 16px 16px 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.arrow {
  height: 40px;
  width: 40px;
  top: 40%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: var(--darkBlue);
  opacity: 0.6;
  z-index: 3;
}
.arrow:hover {
  opacity: 1;
}
.arrowPrev {
  left: 20px;
  transform: rotate(-135deg);
}
.arrowNext {
  right: 20px;
  transform: rotate(45deg);
}
.slides {
  display: inline-flex;
  position: absolute;
  left: calc(var(--slideOffset)* 1px);
}
.slides img {
  margin: 0 10px;
}
.slides > img {
  height: 530px;
}
.curSlide {
  z-index: 4;
}
.nextSlide {
  animation: 1s ease-out 0s 1 normal next_slide;
}
.prevSlide {
  animation: 1s ease-out 0s 1 normal prev_slide;
}
@keyframes next_slide { from { margin-left: 0px; } to { margin-left: calc(var(--slideMove) * 1px); }  }
@keyframes prev_slide { from { margin-left: calc(var(--slideMove) * 1px); } to { margin-left: 0px; }  }
.dots, .captions {
  margin: 0 auto 8px;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #74A1C7;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s;
}
.dot.active, .dot:hover {
  background-color: #FFF;
}
.caption {
  padding: 0 0 20px;
  display: none;
}
.caption.active {
  display: inline-block;
}
.slideModal {
  background-color: #eeeeee20;
  background-image: url(../i/slide1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.about {
  min-height: 300px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bigHead {
  width: 33%;
  font-family: var(--fontHead);
  font-size: 32px;
  text-align: center;
}
.bigHead h2 {
  display: inline;
}
.aboutContent {
  width: 66%;
}
.resume-Am-I {
  display: none;
}
.quotes {
  min-height: 190px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
blockquote {
  font-size: 24px;
  padding: 6px 48px 16px;
  text-shadow: #74A1C7 2px 2px 5px;
  opacity: 0;
  transition: 1.5s opacity;
}
.contactBlock {
  border: none;
  background: none;
  position: relative;
}
.wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}
form {
  margin-top: 24px;
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

form button {
	width: 100%;
	cursor: pointer;
  border: 3px solid var(--borderBlue);
  border-radius: 5px 5px 0 0;
	color: #44545E;
	padding: 8px 24px;
	font-weight: 500;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
}
button:hover {
	background-color: #74A1C7;
  border-color: #EEE;
	color: white;
	font-weight: 800;
}
textarea {
	width: 100%;
	display: block;
}

input, textarea {
  border: 3px solid var(--borderBlue);
  border-radius: 5px 5px 0 0;
	margin-bottom: 12px;
	padding: 10px 10px;
	outline: 0;
}
.form-group {
  position: relative;
}
.form-group input,
.form-group:last-of-type {
	width: 100%;
}
.col-third {
	width: 32%;
}
.error {
  border-color: #be1919;
  color: #be1919;
}
.error-message {
  width: 66%;
  margin: 0 auto 4px;
  position: relative;
  z-index: 10;
  bottom: 100%;
  text-align: center;
  font-weight: 800;
  background-color: #be1919;
  border: 2px solid #FFF;
  border-radius: 5px 5px 0 0;
	padding: 1px 1px;
	outline: 0;
}
.error-message::after {
  content: "";
  position: absolute;
  top: 100%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: #FFF transparent transparent transparent;
}
.progress {
  background-image: url('../i/sending.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFF;
  opacity: .66;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15%;
}
footer {
  height: auto;
  padding: 12px;
  margin: 0 3px;
  border: 3px solid var(--borderBlue);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-around;
}
.copy, .social {
  display: inline-block;
}
.social {
  display: flex;
  justify-content: space-between;
}
.social a {
  color: white;
  font-size: 24px;
  margin: 0 20px;
}
.social a:last-child {
  margin-right: 0;
}
.hidden {
  display: none;
}
@media screen and (max-width: 790px) {
  * {
    font-size: 14px;
  }
  .headName {
    display: none;
  }
  .col-third {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  * {
    font-size: 12px;
  }
  .hambMenu {
    display:block;
  }
  .hambMenu span{
    display: block;
    width: 1.5em;
    height: .2em;
    margin-bottom: .3em;
    background-color: #FFF;
  }
  .linkBox {
    display: none;
  }
  h1 {
    font-size: 60px;
  }
  .splash1, .splash2, .splash3 {
    visibility: hidden;
  }
  .projects {
    padding: 0;
  }
}
