/* css variables */
:root {
  --fontHead: 'Playfair Display', serif;
  --fontContent: 'Didact Gothic', sans-serif;
  --borderBlue: #74A1C760;
  --slideOffset: -230;
  --slideMove: -320;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: #0F3385;
  color: #FFF;
  font-family: var(--fontContent);
  font-size: 20px;
}
header {
  height: 450px;
  margin-bottom: 40px;
  border-bottom: 3px solid var(--borderBlue);
  background-image: url("../i/COGS_clean.png");
  background-size: cover;
}
nav {
  font-family: var(--fontContent);
  font-size: 24px;
  padding: 12px;
  /* border-bottom: 3px solid #74A1C760; */
  display: flex;
  justify-content: space-between;
}
nav a {
  color: #FFF;
  text-decoration: none;
}
h1 {
  font-family: var(--fontHead);
  font-size: 80px;
  text-align: right;
  text-shadow: #74A1C7 2px 2px 3px;
  position: relative;
  right: 100px;
  top: 150px;
}
h2 {
  font-family: var(--fontHead);
  font-size: 32px;
}
.headName, .linkBox {
  display: inline-block;
}
.headName {
  margin-right: 40px;
}
.linkBox a {
  margin: 0 20px;
}
.linkBox a:last-child {
  margin-right: 0;
}
.splash {
  width: 100%;
  height: 0;
  position: absolute;
}
.splash1, .splash2, .splash3 {
  font-size: 45px;
  text-shadow: #74A1C7 3px 3px 7px;
  display: block;
  position: relative;
  opacity: 0;
  transition: 1.5s opacity;
}
.splash1 {
  top: -120px;
  right: 600px;
}
.splash2 {
  top: -20px;
  right: 350px;
}
.splash3 {
  top: -320px;
  right: 400px;
}
.fadeIn {
  opacity: 1;
  transition: 1.5s opacity;
}
section {
  margin: 0 30px 30px;
  border: 3px solid var(--borderBlue);
  border-radius: 5px 5px 0 0;
  background-image: url("../i/COGS_clean.png");
  background-size: cover;
}
.carousel {
  width: 500px;
  height: 400px;
  margin: 20px auto;
  border: 3px solid var(--borderBlue);
  border-radius: 5px 5px 0 0;
  background: var(--borderBlue);
  position: relative;
  overflow: hidden;
}
.viewer {
  width: 500px;
  height: 400px;
  border-left: 100px solid #eeeeee60;
  border-right: 100px solid #eeeeee60;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.arrow {
  height: 40px;
  width: 40px;
  top: 40%;
  position: absolute;
  display: block;
  cursor: pointer;
  border-width: 5px 5px 0 0;
  border-style: solid;
  border-color: #FFF;
  opacity: 0.6;
  z-index: 3;
}
.arrow:hover {
  opacity: 1;
}
.arrowPrev {
  left: 20px;
  transform: rotate(-135deg);
}
.arrowNext {
  right: 20px;
  transform: rotate(45deg);
}
.slides {
  display: inline-flex;
  position: absolute;
  left: calc(var(--slideOffset)* 1px);
}
.slides img {
  margin: 0 10px;
}
.nextSlide {
  animation: 3s linear 0s 1 normal next_slide;
}
.prevSlide {
  animation: 3s linear 0s 1 reverse prev_slide;
}
@keyframes next_slide { from { margin-left: 0px; } to { margin-left: calc(var(--slideMove) * 1px); }  }
@keyframes prev_slide { from { margin-left: calc(var(--slideMove) * -1px); } to { margin-left: 0px; }  }
.about {
  min-height: 300px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bigHead {
  width: 33%;
  font-family: var(--fontHead);
  font-size: 32px;
  text-align: center;
}
.bigHead h2 {
  display: inline;
}
.aboutContent {
  width: 66%;
}
footer {
  padding: 12px;
  display: flex;
  justify-content: space-around;
}
.copy, .social {
  display: inline-block;
}
.social {
  display: flex;
  justify-content: space-between;
}
.social a {
  color: white;
  font-size: 24px;
  margin: 0 20px;
}
.social a:last-child {
  margin-right: 0;
}
@media screen and (max-width: 775px) {
  * {
    font-size: 14px;
  }
}
@media screen and (max-width: 560px) {
  * {
    font-size: 12px;
  }
}
